.detail-container {
    /* border: 2px solid; */
    /* border-image: linear-gradient(135deg, var(--blue), var(--purple)) 1; */
    display: flex;

}

@media (min-width: 601px) and (max-width: 1100px) {
  .detail-container {
    width: 850px;
  }

}

@media (min-width: 1200px) {
  .detail-container {
    width: 1200px;
  }
}