html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'News Gothic', 'Arial', sans-serif; */
    line-height: 1.5;
    height: 100%;
    background-color: black;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

h1 {
  color:rgb(255, 204, 0);
}


table {
  background-color: #000000;
  /* color:rgb(0, 0, 0); */
  border: solid;
  border-collapse: collapse;
  border-color:rgb(255, 204, 0);
  font-size: 1.2rem;
}

th {
    border-color:rgb(255, 204, 0);
    border: solid;
    border-collapse: collapse;
    height: 50px;
    width: 70px;
}

tr {
    color:rgb(255, 204, 0);
    border-color:rgb(255, 204, 0);
    border: solid;
    border-collapse: collapse;
    height: 40px;
    width: 50px;
}

td {
    color:rgb(255, 204, 0);
    border: solid;
    border-color:rgb(255, 204, 0);
    border-collapse: collapse;
    text-align: center;
    height: 80px;
    width: 50px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 601px) and (max-width: 1100px) {
  .page-content {
    width: 1300px;
  }
  table {

  }
}

@media (min-width: 1200px) {
  .page-content {
    width: 1920px;
  }
    table {
    height: 700px;
    width: 1200px;
  }
}



footer {
    color: rgb(255, 204, 0);
    text-align: center;
    padding: 10px;
}