

.tables{
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    /* font-size: 1.2rem; */
    /* height: 700px; */
    width: 100%;
    display: flex;
    flex-direction: column;

}

@media (min-width: 601px) and (max-width: 1100px) {
  .tables {
    width: 900px;
  }
  .detail-container {
    width: 850px;

  }

}

@media (min-width: 1200px) {
  .tables {
    width: 1200px;
  }
  .detail-container {
    width: 1200px;

  }
}

thead {
    border-bottom: 2px solid;
    border-image: linear-gradient(135deg, var(--blue), var(--purple)) 1;
}

th {
    /* height: 50px; */
    /* width: 300px; */
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

tr {
    /* height: 40px; */
    /* width: 300px; */
    /* padding: 1%; */
    display: flex;
    justify-content: space-between;
    margin: 5px;
    text-align: start;
}

td {
    width: 200px;
    text-align: start;
    margin: 5px;
    padding-left: 10px;

}

.language {
  text-align: end;
  border-radius: 90%;
}