{% extends "base.html" %}

{% block title %}Ex09 : Database: People{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style4.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Movies</h1>
    <div>
        <p>
            {% for movie in movies %}      
                {{ movie.characters }} -
                {{ movie.gender }} -
                {{ movie.title }} -
                {{ movie.planet}} -
                {{ movie.diameter }} -
        </p> 
        {% endfor %}
    </div>
</div>

{% endblock %}