.page-content {
    width: 1000px;
    height: 800px;
    background-color: rgb(29, 29, 34);
    border-radius: 3%;
    color: rgb(199, 200, 204);

}

.message-container {
    width: 500px;
    
}

#chat-log {
    width: 600px;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.30);
}