{% extends "base.html" %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}


{% block content %}

<div class="page-content">
    <h2 class="text-center m-4">ARTICLES</h2>
    <div class="tables div-wrapper">
        <table class="div-overlay ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th class="">synopsis</th>
                    <!-- <th>Content</th> -->
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td> {{ article.author }} </td>
                        <td> {{ article.synopsis }} </td>
                        <!-- <td> {{ article.content }} </td> -->
                        <td> {{ article.created }} </td>
                        <td>
                            <a asChild href="{% url 'article-detail' article.id %}" class="btn">Read</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
