{% extends "base.html" %}


{% block title %}Ex02 : Django, framework web{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Bienvenue sur la page Django</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% if success %}
            <h2>✅ Formulaire reçu !</h2>
        {% endif %}
    </div>
</div>

{% endblock %}