{% extends "base.html" %}


{% block title %}Ex02 : Django, framework web{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="page-content">
    {% comment %} <h1>Bienvenue sur la page Django</h1> {% endcomment %}
    <div id="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% if success %}
            <h2>✅ Formulaire reçu !</h2>
        {% endif %}
    </div>
    <div id="historic-container">
        <h2>HISTORIC</h2>
        <div id="historic-content">
            {% for ligne in historic %}
                <p>{{ ligne }}</p>
            {% empty %}
                <p>Aucune entrée encore.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}