html, body {
    margin: 0%;
}

table {

    border: solid;
    border-collapse: collapse;

}

td {
    width: 140px;
    aspect-ratio: 1 / 1;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
}

ul {
    font-size: 1rem;
    padding-left: 0;
    list-style-type: none;
}

#table-content {
    display: flex;
    justify-content: center;
}

#small {
    font-weight: bold;
    font-size: 1.5rem;
}