html, body {
    margin: 0%;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    position: relative;
}

table {
    border-spacing: 5px;
    height: 60vh;
    table-layout: fixed;
}

tr {
    width: 50%;
}
td {
    min-width: 165px;
    min-height: 150px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 10%;
    overflow: hidden;
    white-space: nowrap; /* Évite que le texte passe à la ligne */
    text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
    max-width: 165px; /* S'assure que la largeur maximale est respectée */
    max-height: 150px;
}

ul {
    font-size: 17px;
    padding-left: 0;
    list-style-type: none;
}

.name{
    font-size: 16px;
}

#title {
    text-align: center;
    color: white;
    font-size: 80px;
}

#page-content {
    background-color: #000000;
    position: absolute
}

#table-content {
    display: flex;
    justify-content: center;
}

.small {
    font-weight: bold;
    font-size: 40px;
}

/* .electron {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 0.9rem;
    position: absolute;
    right: 5px;
    top: 50%;
} */

.no-border {
    border: none;
}

.non-metal {
    background-color: rgb(7, 85, 230);
}

.noble-gas {
    background-color: rgb(190, 79, 153);
}

.alkaline-metal {
    background-color: rgb(187, 0, 0);
}

.alkali-earth-metal {
    background-color: rgb(255, 102, 0);
}

.metalloid {
    background-color: rgb(0, 153, 255);
}

.halogen {
    background-color: rgb(115, 0, 168);
}

.post-transition-metal {
    background-color: rgb(63, 167, 3);
}

.transition-metal {
    background-color: rgb(230, 187, 0);
}

.non-classified {
    background-color: rgb(5, 175, 124);
}
