html, body {
    background-color: #ebe5e5;
    color: rgb(2, 66, 150);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    border: solid;
    width: 100%;
}

main {
    flex: 1;
    padding: 2%;
}

table {
  border: solid;
  border-collapse: collapse;
  color: black;
  font-size: 1rem
}

th {
    border: solid;
    border-collapse: collapse;
    height: 100px;
    width: 200px;
    background-color:rgb(188, 201, 218);
    
}

tr {
    border: solid;
    border-collapse: collapse;
    height: 100px;
    width: 200px;
}

td {
    border: solid;
    border-collapse: collapse;
    height: 100px;
    width: 200px;
    text-align: center;
}
