{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}


{% block content %}

<div class="pt-2 w-100 d-flex flex-column">
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for favourite in favourites %}
            <tr >
                <td class="w-100">
                    <a href="{% url 'articles:article-detail' favourite.article.id %}" class="text-decoration-underline">{{ favourite.article.title}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
