{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block content %}

<div class="w-100 pt-2">
    <table>
        <thead class="border-bottom border-muted">
            <tr class="p-2 d-flex">
                <th>{% trans "Title" %}</th>
                <th class="w-100">{% trans "Synopsis" %}</th>
                <th>{% trans "Writer" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "When" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr class="p-2 d-flex border-bottom border-muted">
                    <td>{{ article.title }}</td>
                    <td class="w-100"> {{ article.synopsis|truncatechars:200 }} </td>
                    <td> {{ article.author }} </td>
                    <td> {{ article.created }} </td>
                    {% comment %} <td> {{ article.time_since_creation()}}</td> {% endcomment %}
                    <td class="text-end">
                        <a href="{% url 'articles:article-detail' article.id %}" class="btn bg-info text-white">{% trans "Read" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
