{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'articles/css/publish.css' %}">
{% endblock %}


{% block content %}

<div class="bg-light p-4 d-flex flex-column">
    <h2 class="text-center m-4">Share your writings</h2>
    <div class="">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</div>

{% endblock %}
