{% load static %}
<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block style %}<link rel="stylesheet" href="{% static 'css/style3.css' %}">{% endblock %}
    </head>
    <body>
        <div class="page-container">
            <header>
                {% include "nav.html" %}
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                <p>© 2025 – My awesome Django project</p>
            </footer>
        </div>
    </body>
</html>

