{% extends "base.html" %}


{% block title %}Ex01 : Django, framework web.{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>What is Django ?</h2>
    <div class="definition section">
        <p>Django is a framework web open source written en Python.
            It allows to create strong website, fast and secure by follwing the "Don't Repeat Yourself" (DRY) principles.
            It is based on the MTV model (Model-Template-View), very close to the MVC, Django provides everythin gyou need to:
        </p>
        <ul>
            <li>Databasess (ORM),</li>
            <li>HTML templates,</li>
            <li>User authentuification,</li>
            <li>administration of the website,</li>
            <li>Security (CSRF, XSS, etc.),</li>
            <li>et bien plus encore, sans avoir à tout coder soi-même.</li>
        </ul>
    </div>
    <h2>Django's historic</h2>
    <div class="historic section">
        <ul>
            <li>2003 : beginning of the devlopment by Adrian Holovaty and Simon Willison, two devlopper from journalisme web of Lawrence Journal-World.</li>
            <li>2005 : The framework is published in under licence BSD.</li>
            <li>It is named "Django" in tribute to Django Reinhardt, a famous jazz manouche guitarist.</li>
            <li>2008 : Release of the stable version 1.0 .</li>
            <li>Since, Django has evolve with regular releases (every 8 months) and a very active community.</li>
            <li>Last releases : Django 4.x et 5.x </li>
        </ul>
    </div>
    <h2>Why is Django so popular ?</h2>
    <div class="advantages section">
        <ul>
            <li>Well documented</li>
            <li>Secured by default</li>
            <li>Admin integrated very powerful</li>
            <li>Use by major websites : Instagram, Pinterest, Mozilla, Disqus, The Washington Post...</li>
        </ul>
    </div>
</div>

{% endblock %}