{% extends "base.html" %}

{% block title %}Ex01 : Processus d’affichage d’une page statique{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
{% endblock %}


{% block content %}
<div class="page-content">
     <div id="form-container">
        <h2></h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% if success %}
            <h2>✅ Comment received !</h2>
        {% endif %}
    </div>
    <div id="historic-container">
        <h2>COMMENTS</h2>
        <div id="historic-content">
            {% for ligne in historic %}
                <p>{{ ligne }}</p>
            {% empty %}
                <p></p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}