table {
    width: 100%;
}

@media (min-width: 601px) and (max-width: 1100px) {
  .tables {
    width: 900px;
  }
  .detail-container {
    width: 850px;

  }
}

@media (min-width: 1200px) {
  .tables {
    width: 1200px;
  }
  .detail-container {
    width: 1200px;
  }
}

th {
    width: 200px;
    display: flex;
}

tr {
    display: flex;
    text-align: start;
    padding: 0.5rem;
    border-bottom: 1px solid #dee2ec;

}

td {
    width: 200px;
    text-align: start;

}

.language {
  text-align: end;
  border-radius: 90%;
}

thead {
  border-bottom: 1px solid #dee2ec;
}
