:root {
    --blue: #66C6DE;
    --purple: #695BA4;
}

html, body {
    background-color: #111216;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
;
}

.bg-custom {
    background-color: rgb(26, 26, 196);
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: black;
    background-image: linear-gradient(to bottom, #000000, #111216);

}
 .nav-bar {
    width: 100%;
    height: 70px;

 }
.icons {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.btn-wrapper, .div-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    margin: 10px;
    padding: 3px;

    background-clip: padding-box, border-box;
    border:3px solid transparent; 
    font-size: 16px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
    background-image: linear-gradient(90deg, var(--blue), var(--purple));
}

.btn-overlay, .div-overlay {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    position: relative;
    padding: 12px 26px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
    box-shadow: none;
}

.btn-overlay:hover {
    background: transparent;
    transform: scale(1.03);
}

.btn {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: white;
}

.btn:hover {
    transform: scale(1.2);
}

.btn-nav-wrapper {
    padding: 3px;
    background-clip: padding-box, border-box;
}

.btn-nav-overlay {
    background-image: linear-gradient(to bottom, #000000, #111216);
    color: white;
    height: 50px;
    width: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.50rem;
    font-size: 16px;
}

.btn-nav-wrapper:hover {
    border-radius: 0.50rem;
    border: 3px solid transparent;
    background-image: linear-gradient(90deg, var(--blue), var(--purple));
   
}

a {
    text-decoration: none;
    color: inherit; 
}

.btn-submit {
    border-radius: var(--bs-border-radius);
}

.form-container {
    width: 500px;
}

.logged {
    background: linear-gradient(to right, var(--blue), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-container {
    display: inline-block;
}