html, body {
    background-color: #ebe5e5;
    color: rgb(2, 66, 150);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    height: 100%;
}

.nav-bar {
    background-color: #333;
    overflow: hidden;
    
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;

}

.nav-bar a:hover {
    background-color:rgb(162, 180, 204);
    color: black;
}

.nav-bar a {
    background-color: rgb(2, 66, 150);
    color: rgb(255, 255, 255);
    
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75vh;
    padding-left: 20%;
    padding-bottom: 1%;
    max-width: 55%;
}

h1 {
    text-align: center;
    border: solid;
    width: 100%;
}

main {
    flex: 1;
    padding: 2%;
}

/* .section {
    background-color: rgb(167, 184, 206);
} */

.exemple {
    background-color: #333335;
    color: rgb(202, 202, 202);
    padding: 2%;
    width: 100%;
    /* border-radius: 2%; */
}

footer {
    text-align: center;
    padding: 10px;
}
/* si pas de changement verif le cache du navigateur */