{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block content %}

<div class="page-content">
    <form action="{% url 'set_language' %}" method="post" class="language">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">

        {% get_current_language as CURRENT_LANGUAGE %}

        {% if CURRENT_LANGUAGE == "en" %}
            {% comment %} mettre un drapeau de la langue {% endcomment %}
            <button type="submit" name="language" value="fr">FR</button>
        {% else %}
            <button type="submit" name="language" value="en">EN</button>
        {% endif %}
    </form>
    <h2 class="text-center m-4">ARTICLES</h2>
    <div class="tables div-wrapper">
        <table class="div-overlay ">
            <thead>
                <tr class="d-flex justify-content-between">
                    <th>Title</th>
                    <th>Author</th>
                    <th class="">synopsis</th>
                    <!-- <th>Content</th> -->
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td> {{ article.author }} </td>
                        <td> {{ article.synopsis|truncatechars:20 }} </td>
                        <!-- <td> {{ article.content }} </td> -->
                        <td> {{ article.created }} </td>
                        <td>
                            <a asChild href="{% url 'articles:article-detail' article.id %}" class="btn">{% trans "Read" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
