{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block content %}

<div class="page-content">
    <h2 class="text-center m-4"> {% trans "ARTICLE'S DETAILS" %} </h2>
    <div class="detail-container div-wrapper">
        <div class="div-overlay d-flex flex-column">
            <h2 class="fw-bold text-center text-cut">{{ article.title }}</h2>
            <p class="fst-italic text-cut"> {{ article.synopsis|truncatechars:20 }} </p>
            <div>
                <p class="text-cut">{{ article.content }}</p>
            </div>
            <div class="text-cut d-flex flex-column text-end">
                <span class="text-cut ">-{{ article.author }}</span>
                <span class="text-cut "> {{ article.created }}</span>
            </div>
            {% if already_fav %}
                <button class="btn btn-secondary" disabled>
                    {% trans "Already in favourites" %}
                </button>
            {% else %}
                <form method="post" action="{% url 'articles:add-favourite' article.pk %}">
                    {% csrf_token %}
                    <div >
                        <button class="btn btn-favourites" type="submit">{% trans "Add to favourite" %}</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
