{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container page-content d-flex justify-content-center align-items-center">
        <div class="form-container">
            <h2 class="text-center p-4">{% trans "LOGIN" %}</h2>
            <div class="div-wrapper">
                <form method="post" class="div-overlay btn-no-hover d-flex flex-column">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger mt-1">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button class="btn-submit" type="submit">{% trans "Submit" %}</button>
                    {% if success %}
                        <p>{% trans "Registered successfully" %}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}