{% extends "base.html" %}

{% block title %}Ex04{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>REMOVE MOVIES FROM DATABASE</h2>
     <div id="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
        {% if success %}
            <script>alert("Movie successfully updated")</script>
        {% endif %}
    </div>
</div>
{% endblock %}