{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block content %}

<div class="page-content">
    <h2 class="text-center m-4"></h2>
    <div class="tables div-wrapper">
        <div id="login-container" class="div-overlay">
            <form id="login-form" method="post">
                {% csrf_token %}
                <button type="submit" name="login_submit" value="1"class="btn">Login</button>
                {{ login_form.as_p }}
            </form>
            <div id="form-errors"></div>
            <div id="logout-container">
                <button id="logout-btn"type="submit" name="logout" class="btn">LOGOUT</button>
            </div>
        </div>
    </div>
    <div class="div-wrapper">
        <div class="div-overlay register-container">
            <h3>REGISTER</h3>
            <form method="post">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit" name="register_submit" class="btn" value="1">Register</button>
            </form>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'account/account.js' %}"></script>


{% endblock %}
