{% extends "base.html" %}

{% block title %}Page Django{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}

{% block content %}
<h1>Bienvenue sur la page Django de ex01</h1>
<p>Décrivez dans cette page le fonctionnement du moteur de templates par défaut de Django ainsi que le fonctionnement :
◦ Des blocs.
◦ Des boucles for ... in.
◦ Des structures de contrôle if.
◦ De l’affichage de variables passées par contexte..</p>
{% endblock %}