{% extends "base.html" %}

{% block title %}Ex01 : Processus d’affichage d’une page statique{% endblock %}


{% block content %}
<div class="home-page-content">
    <h1>WELCOME TO  </h1>
        <div class="link-container">
            <a class="button" href="/ex00/">MarkDown</a>
            <a class="button" href="/ex01/django/">Django</a>
            <a class="button" href="/ex01/affichage/">Display</a>
            <a class="button" href="/ex01/templates/">Templates</a>
    </div>
</div>
{% endblock %}