{% extends "base.html" %}

{% block title %}Ex01 : Moteur de template.{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>1. General functionning of Django's template engine.</h2>
    <div class="definition section">        
        <p>the Django's template engine is used to dynamically generate HTML pages by inserting Pythom variables and by using specific syntax in .html files
            The engine works as follow :</p>     
        <ol>
            <li>A view (views.py) send a context (variables) to a HTML template</li>
            <li>The template contains tags &#123;% ... %&#125; (logic) and &#123;&#123; ... &#125;&#125; (display of variables).</li>
            <li>Django interprete the template and generate a final HTML page.</li>
        </ol>
    </div>
    <h2>2. Blocks &#123;% block ... %&#125;</h2>
    <div class="section">
        <p>Blocks are used to define modifiables zone in a parent's template. It is the base of the C'est la basis of the inheritance system of templates.</p>
        <span>Exemple</span>
        <div class="exemple">
            <pre><code>
    &lt;html&gt;
        &lt;head&gt;
            &lt;title&gt;&#123;% block title %&#125;Default title&#123;% endblock %&#125;&lt;/title>
        &lt;/head&gt;
        &lt;body&gt;
            &#123;% block content %&#125;Default content&#123;% endblock %&#125;
        &lt;/body&gt;
    &lt;/html&gt;
            </code></pre>
        </div>
        <div class="exemple">
            <pre><code>
    &#123;% extends "base.html" %&#125;

    &#123;% block title %&#125;Home page&#123;% endblock %&#125;

    &#123;% block content %&#125;
        &lt;p&gt;welcome on the website&lt;/p&gt;
    &#123;% endblock %&#125;
            </code></pre>
        </div>
        <span>Results : page.html inherite base.html and replace the title blocks and content.</span>
    </div>
    <h2>3. Loops &#123;% for ... in ... %&#125;</h2>
    <span>Allow to browse a list snet in the context and generate dynamically HTML.</span>
    <div class="exemple">
        <pre><code>
    &lt;ul&gt;
        &#123;% for fruit in fruits %&#125;
        &lt;li&gt;&#123;&#123; fruit &#125;&#125;&lt;/li&gt;
        &#123;% endfor %&#125;
    &lt;/ul&gt;
        </code></pre>
    </div>
    <div class="exemple">
        <pre><code>
    def my_vue(request):
        return render(request, "fruits.html", &#123;"fruits": ["Apples", "Bananas", "Cherries"]&#125;)
        </code></pre>
    </div>
    <span>Will display a list &lt;li> with every fruits.</span>

    <h2>4. &#123;Structures % if ... %&#125;</h2>
    <div class="section">
        <span>Permettent de faire des conditions dans le template.</span>
        <div class="exemple">
            <pre><code>
    &#123;% if user.is_authenticated %&#125;
        &lt;p&gt;Hello &#123;&#123; user.username &#125;&#125; !&lt;/p&gt;
    &#123;% else %&#125;
        &lt;p&gt;Welcome, visitor.&lt;/p&gt;
    &#123;% endif %&#125;
            </code></pre>
        </div>
        <span> You can also use &#123;% elif %&#125; for several cases.</span>
    </div>

    <h2>5. Display of variables : &#123;&#123; variable &#125;&#125;</h2>
    <div class="section">
        <span>All the data of the context send by the view  can be displayed with :</span>
        <div class="exemple">
            <pre><code>
        &lt;p&gt;Hello&#123;&#123;name &#125;&#125; !&lt;/p&gt;
            </code></pre>
        </div>
        <span>If in the view you have :</span>
        <div class="exemple">
            <pre><code>
    def my_vue(request):
        return render(request, "index.html", &#123;"name": "Marine"&#125;)
            </code></pre>
        </div>
            <p>The template will display : Hello Marine !<br>You can also access assets and methods :</p>
        <div class="exemple">
            <pre><code>
    &lt;p&gt;&#123;&#123; user.name &#125;&#125;&lt;/p&gt;
        &lt;p&gt;&#123;&#123; object.price|floatformat:2 &#125;&#125;&lt;/p&gt;
            </code></pre>
        </div>
    </div> 
</div>
{% endblock %}