{% extends "base.html" %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'detail/css/detail.css' %}">
{% endblock %}

{% block content %}

<div class="page-content">
    <h2 class="text-center m-4">ARTICLE DETAIL</h2>
    <div class="detail-container div-wrapper">
        <div class="div-overlay">
            <p>{{ article.title }}</p>

        </div>

                    <!-- <span>Auspanor</span>
                    <span>synopsis</span>
                    <span>Content</span>
                    <span>Created</span>
                    <span></span>
                </tr>

                <tr>
                    <td>{{ article.title }}</td>
                    <td> {{ article.auspanor }} </td>
                    <td> {{ article.synopsis }} </td>
                    <td> {{ article.content }} </td>
                    <td> {{ article.created }} </td>
                    <td>
                        <button class="btn">Read</button>
                    </td>
                </tr> -->

    </div>
</div>

{% endblock %}
