{% extends "base.html" %}

{% block title %}Ex08 : Database: People{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Movies</h1>
    <div id="tables">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Homeworld</th>
                    <th>Climate </th>
                    
                </tr>
            </thead>
            <tbody>
                {% for p in people %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.homeworld }}</td>
                        <td> {{ p.climate }} </td>   
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}