html, body {
    background-color: #ebe5e5;
    color: rgb(2, 66, 150);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    height: 100%;
}

/* TEST */

.nav-bar {
    background-color: #333;
    overflow: hidden;
    
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;

}

.nav-bar a:hover {
    background-color:rgb(162, 180, 204);
    color: black;
}

.nav-bar a {
    background-color: rgb(2, 66, 150);
    color: rgb(255, 255, 255);
    
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 1%; */
}

#historic-container {
    /* display: flex; */
    margin: 20px;
    
}

#historic-content {
    background-color:rgb(162, 180, 204);
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding-left: 8%;
}

#form-container {
    margin: 10px;
}

#id_comment {
  height: 100px;
  width: 252px;
}

/* Tablette */
@media (min-width: 601px) and (max-width: 1100px) {
  .page-content {
    /* height: 250px; */
    width: 900px;
  }
  #form-container {
    width: 260px;
  }
  #historic-container {
    max-width: 60%;
    max-height: 400px;
    height: 400px;
    width: 60%;
  }
  #historic-content {
    max-height: 400px;
    height: 400px;
  }
}

/* Grand écran */
@media (min-width: 1201px) {
  .page-content {
    /* height: 400px; */
    width: 1200px;
  }
  #form-container {
    width: 300px;
  }
  #historic-container {
    max-width: 700px;
    max-height: 400px;
    width: 700px;
    height: 400px;
  }
  #historic-content {
    max-height: 400px;
    height: 400px;
  }
}

h1 {
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    padding: 2%;
}

.exemple {
    background-color: #333335;
    color: rgb(202, 202, 202);
    padding: 2%;
    width: 100%;
    /* border-radius: 2%; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
  background-color: rgb(2, 66, 150);
  color: rgb(202, 202, 202);
  border-radius: 25px;
  cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
}
