{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container page-content d-flex justify-content-center align-items-center">
        <div class="form-container">
            <h2 class="text-center p-4">{% trans "REGISTER" %}</h2>
            <div class="div-wrapper">
                <form method="post" class="div-overlay btn-no-hover d-flex flex-column">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="btn-submit" type="submit">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}