{% extends "base.html" %}


{% block title %}Ex02 : Django, framework web{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{% static 'css/style4.css' %}">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="page-content">
    {% comment %} <h1>Bienvenue sur la page Django</h1> {% endcomment %}
    <div id="tables">
        <div id="tables">
            <table>
                <th>NOIR</th>
                <th>ROUGE</th>
                <th>BLEU</th>
                <th>VERT</th>
                {% for row in rows %}
                    <tr>    
                        {% for column in columns %}
                            <td></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
</div>

{% endblock %}