{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block content %}

<div class="page-content">
    <h3 class="text-center p-4"> {{ room }} </h3>
    <div class="d-flex">
        <div>
            <span>CONNECTED USERS</span>
            <ul id="user-list">
            </ul>
        </div>
        <div>
            <div id="chat-log" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc;">
                {% for msg in last_messages %}
                    <div class="message">
                        <small>[{{ msg.timestamp|date:"H:i" }}]</small>
                        <strong>{{ msg.sender.username }}:</strong> {{ msg.content }}
                    </div>
                {% endfor %}
            </div>
            <form hx-ws="send:submit">
                <input id="chat-message-input" type="text" size="30" />
                <input id="chat-message-submit" type="button" value="Send" />
            </form>

        </div>
    </div>
    <script src="account.js"></script>
    
    <script>
        const roomId = "{{ room.id }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomId + '/'
        );
        
        const chatLog = document.querySelector('#chat-log');
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const newMessage = document.createElement('div');
            
            if (data.type == 'user_list') {
                // const userListElement = document.querySelector('#user-list');
                // userListElement.innerHTML = '';
                
                // data.users.forEach(username => {
                //     const li = document.createElement('li');
                //     li.innerText = username;
                //     userListElement.appendChild(li);
                    
                // });
                displayUser(data.users);
            }
            // else if data == chat message
            newMessage.innerHTML = `${data.message}`;

            chatLog.appendChild(newMessage);
            chatLog.scrollTop = chatLog.scrollHeight;
        };
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === "Enter") {  // Enter key
                document.querySelector('#chat-message-submit').click();
            }
        };
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</div>


{% endblock %}
