{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}

{% block content %}

<div class="page-content p-4">
    <h3 class="text-center p-4"> {{ room }} </h3>
    <div class="d-flex">
        <div class="pe-4">
            <span>CONNECTED USERS</span>
            <ul id="user-list"></ul>
        </div>
        <div class="message-comntainer">
            <div id="chat-log">
                {% for msg in last_messages %}
                    <div class="message">
                        <small>[{{ msg.timestamp|date:"H:i" }}]</small>
                        <strong>{{ msg.sender.username }}:</strong> {{ msg.content }}
                    </div>
                {% endfor %}
            </div>
            <form hx-ws="send:submit">
                <input id="chat-message-input" type="text" size="30" />
                <input id="chat-message-submit" type="button" value="Send" />
            </form>

        </div>
    </div>
    
    <script>
        const roomId = "{{ room.id }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomId + '/'
        );
        
        const chatLog = document.querySelector('#chat-log');
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const newMessage = document.createElement('div');
            
            if (data.type == 'user_list') {
                const userListElement = document.querySelector('#user-list');
                userListElement.innerHTML = '';
                
                data.users.forEach(username => {
                    const li = document.createElement('li');
                    li.innerText = username;
                    userListElement.appendChild(li);
                    
                });
                return;
            }
            newMessage.innerHTML = `${data.message}`;

            chatLog.appendChild(newMessage);
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        document.querySelector('#chat-message-input').focus();

        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value.trim();

            if (message === "") return;

            chatSocket.send(JSON.stringify({
                message: message
            }));

            messageInputDom.value = '';
        }
        document.querySelector('#chat-message-input').addEventListener("keydown", function(e) {
            if (e.key === "Enter") {
                e.preventDefault();
                sendMessage();
            }
        });
        document.querySelector('#chat-message-submit').addEventListener("click", function(e) {
            e.preventDefault();
            sendMessage();
        });
    </script>
</div>


{% endblock %}
