{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block content %}

<div class="page-content">
    <div id="chat-log"></div>
    <form hx-ws="send:submit">
        <input id="chat-message-input" type="text" size="30" />
        <input id="chat-message-submit" type="button" value="Send" />
    </form>
    
    <script>
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                document.querySelector('#chat-message-submit').click();
            }
        };
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</div>


{% endblock %}
