<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ex00: Markdown Cheatsheet.</title>
    </head>
    <body>
        <link rel="stylesheet" href="/static/css/style.css">
        <div class="page-content">
            <h2>MarkDown Cheatsheet</h2>
            <div>
                <table>
                    <thread>
                        <tr>
                            <th>Élément</th>
                            <th>Markdown Syntaxe</th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr>
                            <td>Titre</td>
                            <td>
                                <code> # H1<br> ## H2<br> ### H3</code>
                            </td>
                        </tr>
                        <tr>
                            <td>Gras</td>
                            <td>**gras**<br>et<br>__gras__</td>
                        </tr>
                        <tr>
                            <td>Italique</td>
                            <td>*italique*<br>et<br>_italique_</td>
                        </tr>
                        <tr>
                            <td>gras et Italique</td>
                            <td>**_gras et italique_**</td>
                        </tr>
                        <tr>
                            <td>Citations</td>
                            <td>> citation</td>
                        </tr>
                        <tr>
                            <td>Liste triée</td>
                            <td>1. Premier élément<br>2. Deuxième élément<br>3. Troisième élément</td>
                        </tr>
                        <tr>
                            <td>Liste non triee</td>
                            <td>- Premier élément<br>- Deuxième élément<br>- Troisième élément</td>
                        </tr>
                        <tr>
                            <td>Code</td>
                            <td>`code`<br><br>```language<br>bloc de code</td>
                        </tr>
                        <tr>
                            <td>Séparateur</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>Lien</td>
                            <td>[title](https://www.example.com)</td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>![alt text](image.jpg)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
